extends ../layout 

block content 
    div.container-fluid
        div.col-md-4.offset-md-4
            h1 #{title}
            ul.list-group
                li.list-group-item
                    button.btn.btn-primary(type="button")
                        span New
                        i.bi.bi-plus
                li.list-group-item
                    h6 aaa 2021-05-12 22:10
                    p.lead I wanna see Ironman in the MCU again. I miss him 3000.
                li.list-group-item
                    h6 aaa 2021-05-12 22:10
                    p.lead I wanna see Ironman in the MCU again. I miss him 3000.
                li.list-group-item
                    h6 aaa 2021-05-12 22:10
                    p.lead I wanna see Ironman in the MCU again. I miss him 3000.
                li.list-group-item
                    h6 aaa 2021-05-12 22:10
                    p.lead I wanna see Ironman in the MCU again. I miss him 3000.
                li.list-group-item
                    h6 aaa 2021-05-12 22:10
                    p.lead I wanna see Ironman in the MCU again. I miss him 3000.